.acerca{
    background-color: #1f272c;
    height: 800px;
    width: 100%;
}

.row{
    width: 70%;
    margin: auto;
}

.imagem{
    border: #fff solid 0.5px;
    border-radius: 10px;
    width: 400px;
    height: 600px;
}
.acerca-col{
    margin-top: 20px;
    flex-basis: 50%;
}

.acerca-col>.imagem>img{
    width: 100%;
}

.acerca-col>h1{
    font-size: 20pt;
    margin-left: 20px;
    color: #fff;   
}
.acerca-col>p{
    margin-top: 15px;
    margin-left: 20px;
    color: #757575;
}

@media screen and (max-width:1000px) {
    .acerca{
        height: 1000px;
    }
    .row{
        flex-direction: column;
        width: 70%;
        margin: auto;
        padding: 15px 0;
    }
    .acerca-col>p:nth-child(2){
        display: none;
    }


}