.projetos{
    width: 100%;
    height: 1000px;
    background-color: #1f272c;
    text-transform: uppercase;
}

.projetos-row{
    display: flex;
    width: 80%;
    margin: 50px auto;
    
    height: 350px;
}
.projetos-col{
    padding: 10px;
    margin: auto;
    flex-basis: 20%;
    border: 0.5px solid #91b8ff;
    border-radius: 10px;
    width: 250px;
    height: 250px;

}
.projetos-col:hover{
    transform: scale(1.2, 1.2);
    transform-origin: center;
}

.projetos-col>h1{
    color: #fff;
    margin: 5px 0;
}
.projetos-col>p{
    margin-top: 15px;
    color: #fff;
    font-size: 9pt;
}
.projetos-col>button{
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    padding: auto;
    width: 150px;
    height: 30px;
    margin-left: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: none;
    font-size: 13pt;
    background-color: transparent;
    cursor:pointer;
    transition: 0.2s;
}

.projetos-col>button:hover{
    color: #91b8ff;
    border: 1px solid #91b8ff;
    box-shadow: 5px 5px 0 0 #91b8ff;
    transform: translate(2px,2px);
}



@media screen and (max-width:900px) {
    .projetos{
        width: 100%;
        height: 2000px;
    }
    .projetos-row{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 800px;
    }
    .projetos-col>h1{
        color: #fff;
        margin: 4px 0;
    }
    .projetos-col>p{
        margin-top: 10px;
        color: #fff;
        font-size: 9pt;
    }
    .projetos-col>button{
        margin-left: 60px;
        margin-top: 20px;
        width: 100px;
        height: 20px;
        font-size: 11pt;
    }
}