/*
    Font-family - Bahnschrift
    #91b8ff - Azul Claro
    #91b8 - Violeta
    #1f279c - Azul escuro
    #1f271c - Background
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cabecalho{
    width: 100%;
    height: 74px;
    background-color: #1f272c;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.logo{
    width: 130px;
    height: 40px;
    margin-left: 20px;
}
.logo img{
    width: 100%;
}
.menu{
    padding: 10px 5px;
    width: 350px;
}
.menu>ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.menu>ul>li>a{
    font-weight: 400;
    color: #000;
    text-decoration: none;
    transition: 0.1s;
}
.menu>ul>li{
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: 0.1s;
    cursor: pointer;
}
.menu>ul>li:hover{
    background-color: #bdbdbd41;
}
.menu>ul>li:hover a{
    color: #fff;
}
.menu>ul>li>a{
    color: #b1c4c4;
    text-decoration: none;
}
.search{
    margin-right: 50px;
    padding: 20px;
    width: 200px;
}
.search>input{
    padding: 10px;
    font-size: 12pt;
    border: none;
    color: #91b8ff3d;
    border: #fff 0.5px solid;
    border-radius: 10px;
    background-color: transparent;
    width: 200px;
    height: 30px;
}
.search>input::placeholder{
    color: #91b8ff3d;
}

/*PRINCIPAL*/
main{
    height: 80%;
    width: 100%;
}
.banner{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    height: 30vh;
    background-color: #1f272c;
    text-transform: uppercase;
}
.banner>.right>img{
    width: 500px;
}
.banner>h1{
    margin: auto;
    color: #fff;
    font-size: 50pt;
}
.banner>h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 0.5s infinite;
}

@keyframes pisca {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    
}

/*CURSOS*/
.cursos{
    width: 100%;
    height: 800px;
    background-color: #1f272c;
}
.row{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    display: flex;
}
.cursos-col{
    margin: auto;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background-color: #1f272c;
    padding: 10px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}
.cursos-col:hover{
    background-color: #7575756e;
}

.cursos-col>p{
    text-align: left;
    display: inline-block;
    font-weight: 400;
    color: #fff;
}

.cursos-col>p>i{
    margin: auto;
    text-align: center;
    font-size: 100px;
    color: #fff;
}

.cursos-col>.descricao{
    margin-top: 10px;
    color: #757575;
}

/*CORES DOS ÃCONES*/

.cursos-col:hover .fa-html5{
    color: #e44d26;
}
.cursos-col:hover .fa-css3-alt{
    color: #006bc0;
}
.cursos-col:hover .fa-js{
    color: #f7df1e;
}
.cursos-col:hover .fa-php{
    color: #777bb3;
}
.cursos-col:hover .fa-python{
    color: #396f9d;
}
.cursos-col:hover .fa-java{
    color: #ec2025;
}

/*RODAPE*/

.rodape{
    padding-top: 20px;
    background-color: #1f272c;
    width: 100%;
    height: 70px;
    text-align: center;
}
.rodape>a{
    display: inline-block;
    color: #757575;
    text-decoration: none;
    margin-right: 40px;
    transition: 0.4s;
}
.rodape>a>p{
    display: inline-block;
}
.rodape>a>i{
    margin-left: 5px;
    visibility: hidden;
}
.rodape>a:hover i{
    visibility: visible;
}
.rodape>a:nth-child(1):hover{color: #3b579d;}
.rodape>a:nth-child(2):hover{color: #da1c64;}
.rodape>a:nth-child(3):hover{color: #2aa9e0}
.rodape>a:nth-child(4):hover{color: #397dce;}
.rodape>a:nth-child(5):hover{color: #ff0000;}
.rodape>a:nth-child(6):hover{color: #948fe1;}
.rodape>a:nth-child(7):hover{color: #4aeb67;}



.rodape>a>i{
    margin-left: 5px;
}

@media screen and (max-width:700px) {
    .search{
        display: none;
    }
    .banner{
        height: 35vh;
        background-color: #1f272c;
    }
    .banner>h1{
        margin: 10px auto;
        color: #fff;
        font-size: 30pt;
    }
    .cursos{
        text-align: center;
        width: 100%;
        height: 700px;
        background-color: #1f272c;
    }
    .row{
        flex-direction: column;
        width: 70%;
        margin: auto;
        padding: 15px 0;
    }
    .cursos-col{
        margin: auto;
        width: 200px;
        height: 100px;
    }
    
    .cursos-col>p>i{
        font-size: 70px;
    }
    
    .cursos-col>.descricao{
        display: none;
    }
    .rodape>a{
        display: inline-block;
        text-decoration: none;
        margin-right: 40px;
        transition: 0.4s;
    }
    .rodape>a>p{
        display: none;
    }
    .rodape>a>i{
        margin: 0 5px;
        visibility: visible;
    }
    .rodape>a:nth-child(1){color: #3b579d;}
    .rodape>a:nth-child(2){color: #da1c64;}
    .rodape>a:nth-child(3){color: #2aa9e0}
    .rodape>a:nth-child(4){color: #397dce;}
    .rodape>a:nth-child(5){color: #ff0000;}
    .rodape>a:nth-child(6){color: #948fe1;}
    .rodape>a:nth-child(7){color: #4aeb67;}

}

@media screen and (max-width:900px) {
    .search{
        display: none;
    }
    .banner>h1{
        margin: auto;
        color: #fff;
        font-size: 30pt;
    }
    .rodape>a>p{
        display: none;
    }
    .rodape>a>i{
        margin: 0 5px;
        visibility: visible;
    }
    .rodape>a:nth-child(1){color: #3b579d;}
    .rodape>a:nth-child(2){color: #da1c64;}
    .rodape>a:nth-child(3){color: #2aa9e0}
    .rodape>a:nth-child(4){color: #397dce;}
    .rodape>a:nth-child(5){color: #ff0000;}
    .rodape>a:nth-child(6){color: #948fe1;}
    .rodape>a:nth-child(7){color: #4aeb67;}
}