:root{
    --sky: #caebf2;
    --carbon: #a9a9a9;
    --watermelon:#ff3b3f;
    --neutral:#efefef;
    --dep: #D14836;
    --principal:#91b8ff;
    --text:#282828;
    --principal2:#286dec;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

/*MOBILE FIRST*/
@media screen and (max-width:600px) {
    .cabecalho{
        width: 100%;
        background-color: #fff;
        border:1px solid #D14836;
    }
    .logo{
        padding: 10px;
        width: 100%;
        background-color: #fff;
    }
    .logo>a>img{
        width: 100%;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #fff;
        flex-direction: row;
        padding: 20px;
        border: #D14836 solid 1px;
    }
    .menu>ul{
        width: 300px;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        background-color: #fff;
        list-style-type: none;
    }
    .menu>ul>li>a{
        text-decoration: none;
        color: #282828;
        font-size: 20px;
    }
    .login>a{
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        background-color:#D14836;
        color: #fff;
        text-decoration: none;
    }

    .banner{
        padding: 100px;
        background: url(img/banner.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 40vh;
    }
    .banner-text>p{
        text-align: center;
        font-size: 50px;
        color: #fff;
    }
    .banner-text{
        width: 100%;
    }
    .posts{
        
    }
}

/*main{
    width: 100%;
    background-color: #a9a9a9;
}
.cabecalho{
    position: fixed;
    width: 100%;
    padding: 20px;
    height: 70px;
    background-color:#fff;
    display: flex;
    justify-content: space-between;
}
.cabecalho>.menu>ul{
    padding: 5px;
    border: .5px solid #ff3b3f;
    border-radius: 5px;
    list-style-type: none;
    height: 30px;
    width: 300px;
    justify-content: space-between;
    display: flex;
}


.cabecalho>.menu>ul>li>a{
    text-decoration: none;
}
.login>a{
    text-decoration: none;
}
a{
    color:#286dec;
}
a:hover{
    color: #91b8ff;
}

.logo{
    width: 200px;
}

.logo>img{
    width: 100px;
}

.banner{
    background-color: #a9a9a9;
    height: 100vh;
    width: 100%;
    padding: 120px 50px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
}
.banner>.photo{
    border: solid 10px rgb(187, 187, 255);
    background-color: blue;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.banner>.photo:hover{
    transform: scale(1.1,1.1);
}
.banner>.banner-text{
    background-color: transparent;
    width: 700px;
    height: 400px;
    padding: 30px;
}
.banner>.banner-text>p{
    font-size: 100px;
}
.posts{
    background-color: blueviolet;
    width: 100%;
    padding: 30px;
}
.posts>.principal{
    background-color: violet;
    width: 90%;
    margin: 10px auto;
    height: 200px;
    border-radius: 10px;
}
.posts>.secundary{
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}
.secundary>.post{
    flex-direction: row;
    width: 250px;
    height: 150px;
    background-color: violet;

}*/

